* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;;
    padding: 0 16px;
  }
  
  .navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap:16px;
  }
  
  .navbar a {
    color: skyblue;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
  }
  
  .navbar span {
    color: skyblue;
  }
  
  .navbar li:active {
    background-color: #555;
  }
  
  .navbar li.active a {
    border-bottom: 2px solid white;
  }
  
  .navbar li:hover {
    background-color: #777;
  }
  
  